canvas {
	border: 0px solid #0F380F;
	background-color:rgb(207, 192, 107);
	width:1670px;
	height: 870px;
	font-family: "Egelston";
}
font-face{
	font-family: "Egelston";
	font-weight:normal;
	src: ('wayoshi.ttf')
}
body{
	background-color:rgb(207, 192, 107);
	font-family: "Egelston";
}